.cervical-spine-pain-page {
  padding-top: 120px;
}

main.page-main.cervical-spine-pain-main {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .cervical-spine-pain-page {
    padding-top: 96px;
  }
}
